extends layout

block content
    h1= title
    div.welcome
        p Welcome,
            span.userName  #{user}
        a(href='/users/logout') logout
        form
            button(formaction='/users/counter') Clicks: #{count}